<%- include('../head.ejs') %>
<%- include('../partials/header.ejs') %>

<section class="anime-list">
    <div class="container pt-container">
        <% animes.forEach((anime) => { %>
            <div class="col-md-3 text-center">
                <a href="/admin/edit-anime/<%= anime.id %>" class="no-decoration">
                    <h2 class="pt-4 fs-20 poppins white fw-bold"> <%= anime.title %></h2>
                </a>
            </div>
        <% }) %>   
    </div>
</section>

<%- include('../partials/footer.ejs') %>