<%- include('../head.ejs') %>
<%- include('../partials/header.ejs') %>

<section class="anime anime-episode-details">
    <div class="container pt-container">

       <div class="row">
           <div class="col-md-12">
            <div class="d-flex">
                <h1 class="poppins fw-bold white pb-4 fs-30"><%= episode.name %></h1>
                <div class="players ms-4">
                    <button class="btn btn-padrao player-1">Player 1</button>
                    <button class="btn btn-padrao ms-2 player-2">Player 2</button>
                </div>
                <div class="ms-auto">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Reportar bug no EP
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Reportando: <%= episode.name %></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form method="post" action="/report">
                                <input type="text" name="name" class="form-control" placeholder="Seu nome *" required>
                                <input type="hidden" name="episode_id" class="form-control" value="<%= episode.id %>">
                                <input type="hidden" name="anime_id" class="form-control" value="<%= episode.animeId %>">
                                <div class="mt-2 mb-2">
                                    <textarea class="form-control" placeholder="Descrição" name="description"></textarea>
                                </div>
                                <button type="submit" class="btn btn-padrao w-100">Enviar</button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <p class="poppins white pb-4 fs-15">Tente trocar de players caso o episodio não rode</p>
            <video
            id="my-video"
            class="video-js d-none"
            controls
            preload="auto"
            autoplay="true"
            width="100%"
            height="500"
            poster=""
            data-setup="{}"
            >
            <source src="<%= episode.link %>" type="video/mp4" />
            <source src="<%= episode.link %>" type="video/webm" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
            </video>
            <iframe class="iframe-anime"
             src="<%= episode.link_frame %>" 
            frameborder="0" allowfullscreen>
        </iframe>
           </div>
       </div>
    </div>
</section>

<script >

    //players
    let frame = document.querySelector('.iframe-anime');
    let videojs = document.querySelector('.video-js');


    let btn1 = document.querySelector('.player-1');
    btn1.addEventListener('click', function () {
        frame.classList.add('d-none')

        videojs.classList.remove('d-none')
        videojs.classList.add('d-block')
    })

    let btn2 = document.querySelector('.player-2');
    btn2.addEventListener('click', function () {
        videojs.classList.add('d-none')

        frame.classList.remove('d-none')
        frame.classList.add('d-block')
    })

</script>

<%- include('../partials/footer.ejs') %>
